.popup{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, 0.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &:target{
        opacity: 1;
        visibility: visible;
    }

    &__close{
        &:link,
        &:visited{
            color: $color-green-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all 0.2s;
        }

        &:hover{
            color: $color-primary;
        }
    }

    &__content{
        @include absCentre;
        width: 75%;
        //height: 50rem;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
        border-radius: 0.3rem;
        display: table;
    }

    &__left{
        width: 34%;
        display: table-cell;
    }

    &__right{
        width: 66%;
        display: table-cell;
        vertical-align: middle;
        padding:3rem 5rem;
    }

    &__img{
        display: block;
        width: 100%;
    }

    &__text{
        font-size: 1.4rem;
        margin-bottom: 4rem;
    }
}